<% if  not user_signed_in? %>

  <div class="jumbotron">
    <h1 class="display-4">Finance Tracker</h1>
    <p class="lead">Control your assets, conveniently!</p>
    <hr class="my-4">
    <p>To use this app, please Sign Up or Log in</p>
    <br/><br/>
  </div>

<% end %>




