<div class="container" style="width: 1000px">
<br/>
<div class="card">
  <div class="card-header">
    <h4>Create New Planned Expence</h4>
  </div>
  <div class="card-body">
    <%= render 'form', planned_expence: @planned_expence %>
    <br/>
    <%= link_to 'Back to Planned Expences list', planned_expences_path, class:"btn btn-outline-dark btn-sm" %>
  </div>
</div>
</div>