<p> Notification about your planned expence! Plese visit this URL for show more details: </p>

<p>
	<%= link_to 'Planned Expences',
			planned_expences_url(planned_expence: @planned_expence),
			target: '_blank'%>
</p>