<p>Hello <%= @user.name %>!</p>
<p>It is notification about your planned expence!</p>
<p>Please, visit this URL for show more details: </p>

<p>
	<%= link_to 'Planned Expences',
			planned_expence_url(id: @planned_expence.id),
			target: '_blank'%>
</p>