<br/>
<div class="container" style="width: 1000px">
  <div class="card">
    <div class="card-header">
      <h4>Edit Operation</h4>
    </div>
    <div class="card-body">
      <%= render 'form', operation: @operation %>
      <br/>
      <%= link_to 'Delete', @operation, method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-outline-danger btn-sm' %>
      <%= link_to 'List', operations_path, class:"btn btn-outline-dark btn-sm" %>
    </div>
  </div>
</div>
