<div class="container" style="width: 1000px">
  <br/>
  <div class="card">
    <div class="card-header">
      <h4>New Operation</h4>
    </div>
    <div class="card-body">
      <%= render 'form', operation: @operation %>
      <%= link_to 'List', operations_path, class:"btn btn-outline-dark btn-sm" %>
    </div>
  </div>
</div>
